@import "../../styles/variables/variables";

.pagination {
    display: flex;
    padding: 20px;

    li {
        border: 1px solid $borderColor;
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 15px;
        border-radius: 8px;
        font-weight: 500;
        cursor: pointer;
        a {
            height: 40px;
            width: 40px;
            line-height: 40px;
            text-align: center;
        }
    }
}
:global{
    .selected {
        background-color: $paginationColor;
    }
}

@media (max-width: 450px) {
    .pagination {
        li {
            font-size: 12px;
            margin-right: 10px;
            a {
                margin-bottom: 2px;
                height: 35px;
                width: 35px;
            } 
        }
    }
}
