.button {
    border-radius: 10px;
    background-color: #D63D00;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
        background-color: #d46b41;
    }
}