@import '../../../styles/mixins/mixins';


.clear_block {
    padding: 0 30px;
    width: 100%;
    display: flex;
    justify-content: flex-end;

    button {
      @include standart-btn;
    }

}

@media (max-width: 600px) {
  .clear_block {
    padding: 0 15px;
    button {
      font-size: 12px;
      padding: 5px 13px;
    }
  }
}