@import '../../styles/variables/variables';
@import '../../styles/mixins/mixins';

.favorite {
    padding-bottom: 50px;
    .favorite_text {
        font-size: 40px;
        font-weight: 500;
        margin-left: 40px;
    }

    .favorite_block {
        padding: 20px 30px;

        .list {
            display: grid;
            padding: 0 30px;
            grid-template-columns: repeat(6, minmax(0, 1fr));
            grid-auto-rows: auto;
            grid-auto-columns: 180px;
            row-gap: 15px;
            cursor: pointer;
        }
    }

    .empty_block {
        padding: 20px 30px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        .text {
            font-size: 24px;
            text-align: center;
        }
        .image_block {
            display: flex;
            justify-content: center;
            .image {
                margin-top: 20px;
                height: 100px;
            }

        }
        .btn_block {
            display: flex;
            justify-content: center;
            margin-top: 25px;
            .btn {
                @include standart-btn
            }
        }

    }
}