@import '../../styles/variables/variables';
@import '../../styles/mixins/mixins';

.list {
    display: grid;
    padding: 0 30px;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    grid-auto-rows: auto;
    grid-auto-columns: 180px;
    row-gap: 15px;
    cursor: pointer;
}

.favorite {
    padding-bottom: 50px;
    min-height: 500px;
    .favorite_text {
        font-size: 40px;
        font-weight: 500;
        margin-left: 40px;
    }

    .favorite_block {
        padding: 20px 30px;

      
    }

    .empty_block {
        padding: 20px 30px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        .text {
            font-size: 24px;
            text-align: center;
        }
        .image_block {
            display: flex;
            justify-content: center;
            .image {
                margin-top: 20px;
                height: 100px;
            }

        }
        .btn_block {
            display: flex;
            justify-content: center;
            margin-top: 25px;
            .btn {
                @include standart-btn
            }
        }

    }
}

@media (max-width: 1200px) {
    .list {
        grid-template-columns: repeat(5, minmax(180px, 1fr));
    }
}

@media (max-width: 1020px) {
    .list {
        grid-template-columns: repeat(4, minmax(180px, 1fr));
    }
}

@media (max-width: 840px) {
    .list {
        grid-template-columns: repeat(3, minmax(180px, 1fr));
    }
}

@media (max-width: 650px) {
    .list {
        padding: 0;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .favorite {
        .favorite_text {
            font-size: 28px;
            margin-left: 10px;
        }
        .favorite_block {
            padding: 20px 0px;
        }
    }
}