@import "../../../../../styles/variables/variables";


.item_block {
    grid-column: span 1 / span 1;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    transition: 0.2s;


    &:hover {
        background-color: $hoverBtn;
    }

    .image {
        width: 100%;
        aspect-ratio: 1 / 1;
        object-fit: cover;
        border-radius: 10px;
    }

    .text_block {

        .price {
            font-weight: 300;
            font-size: 14px;
            line-height: 20px;
            color: black;   
        }

        .age_platform_block {
            display: flex;
            justify-content: space-between;
        }
    
        .title {
            font-weight: 500;
            font-size: 16px;
            padding: 0;
            margin: 5px 0 0 0;
            line-height: 20px;
        }
    
        .text_age_platform {
            margin-top: 5px;
            color: $placeholderColor;
            font-size: 12px;
        }
    }
   
}

.skeleton_block {
    grid-column: span 1 / span 1;
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    align-items:flex-start;

    .imageSkeleton {
        width:175px;
        aspect-ratio: 1 / 1;
        border-radius: 10px;
    }

    .skeleton_item  {
        display: flex;
        flex-direction: column;
        margin: 10px 0 0;
    }

    .alst_item {
        margin-top: 10px;
    }

    .flex {
        width: 175px;
        display: flex;
        justify-content: space-between;
    }
}



