@import "../../../../../styles/variables/variables";


.item_block {
    grid-column: span 1 / span 1;
    padding: 10px;
    border-radius: 10px;
    position: relative;


    &:hover {
        background-color: $hoverBtn;
    }

    .image {
        width: 100%;
        aspect-ratio: 1 / 1;
        object-fit: cover;
        border-radius: 10px;
    }

    .favorite {
        position: absolute;
        top: 15px;
        right: 15px;
        height: 25px;
        opacity: 0.7;
    }

    .text_block {

        .price {
            font-weight: 300;
            font-size: 14px;
            line-height: 20px;
            color: black;   
        }

        .age_platform_block {
            display: flex;
            justify-content: space-between;
        }
    
        .title {
            font-weight: 500;
            font-size: 16px;
            padding: 0;
            margin: 5px 0 0 0;
            line-height: 20px;
        }
    
        .text_age_platform {
            margin-top: 5px;
            color: $placeholderColor;
            font-size: 12px;
        }
    }

   
}

