.wrapper {
    background-color: black;
    color: white;
    padding: 30px;
    margin-top: 20px;
    border-radius: 15px;
    font-size: 28px;

    .suggestions_block {
        display: flex;

    }
}
.blockSlider {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    margin-top: 25px;

    .suggestions_block_items {
        display: flex;
        justify-content: center;
    }
}
:global{
     .swiper-pagination {
        position: static !important;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;

        span {
            background-color: white;
        }
        .swiper-pagination-bullet-active {
            height: 10px;
            width: 10px;
        }
     }
}

@media (max-width: 550px) {
    .other {
        font-size: 20px;
    }
    .wrapper {
        padding: 30px 10px;
    }
    .blockSlider {
        margin-left: 0px;
    }
}