.block {
    display: flex;
    justify-content: center;
    padding: 0 10px;

    .image {
        max-width: 350px;
        width: 100%;
        border-radius: 10px;
        object-fit: contain;
        cursor: pointer;
    }

    .title {
        font-size: 16px;
        max-width: 350px;
        cursor: pointer;
    }
    .genre {
        margin-top: 10px;
        font-size: 14px;
        font-weight: 200;
        max-width: 350px;
    }
    .platform {
        font-size: 14px;
        font-weight: 200;
        margin-top: 5px;
        max-width: 350px;
    }

    .block_it {
        display: flex;
        align-items: center;
        margin-top: 10px;

        div {
            display: flex;
            align-items: center;
            margin-right: 15px;
        }
    }
}

@media (max-width: 550px) {
    .block {
        font-size: 12px;
        .title {
            font-size: 14px;
        }

        .genre {
            font-size: 12px;
        }
        .platform {
            font-size: 12px;
        }
    }
}