@import '../../../../../styles/variables/variables';

.textarea {
    height: 100px;
    margin-top: 10px;
    outline: none;
    width: 100%;
    font-size: 14px;
    resize: none;
    border: 1px solid $borderColor;
    padding: 10px 20px;
}

.block_button {
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
}