@import '../../../../../../../styles/variables/variables';
@import '../../../../../../../styles/mixins/mixins';

.container {
    position: relative;
    cursor: pointer;

     height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

    .filter_block {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        border-right: 1px solid $borderColor;


        &:active {
            color: $activeColor;
        }
    
        p {
            margin-right: 5px;
        }

        .common_btn {
            border: none;
            margin-right: 5px;
        }

        .arrow_btn {
            @include arrow-btn;
            transition: 0.3s;
            width: 14px;
        }
        .arrow_btn_rotated {
            @include arrow-btn;

            transform:rotateZ(-180deg);
            transition: 0.3s;
        }
    }

    .dropMenu_items {
        display: flex;
        flex-direction: column;
    
        .dropMenu_item {
            width: 150px;
            padding: 10px 20px;
            cursor: pointer;
    
            &:hover {
                background-color: $dropMenuItem;
            }
            &:active {
                background-color: rgba(0, 0, 0, 0.048);
            }
        }
    }
}

@media (max-width: 870px) {
    .container {
        .filter_block {
            width: 85px;

            p {
                font-size: 11px;
                margin-right: 0px;
            }
        }

        .dropMenu_items {
            .dropMenu_item {
                width: 120px;
             }
        }
    }
}

@media (max-width: 640px) {
    .container {
        .filter_block {
            border-right: none;
        }

        
    }

   
}
