@import '../../../../../../styles/variables/variables';

.form_block {
    width: 100%;
    border: 1px solid $borderColor;
    height: 48px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-top: 20px;

    .buttons_block {
        height: 100%;
        display: flex;
        align-items: center;
    }

    .block_item {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 25px;
        border-right: 1px solid $borderColor;

        .arrow_btn {
            height: 14px;
            width: 14px;
            margin-top: 2px;
        }
    
        .common_btn {
            background-color: transparent;
            border: none;
            margin-right: 5px;
        }
    }
}

@media (max-width: 870px) {
    .form_block {
        height: 30px;
        border-radius: 7px;

        .block_item {
            padding: 0 10px
        }
    }
}
@media (max-width: 640px) {
    .form_block {
        flex-direction: column;
        height: 60px;

        .buttons_block {
            padding: 5px 0;
        }
     }
}