@import '../../../../../../styles/variables/variables';

.form_block {
    width: 100%;
    border: 1px solid $borderColor;
    height: 48px;
    border-radius: 10px;
    display: flex;
    margin-top: 20px;

    .block_item {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 25px;
        border-right: 1px solid $borderColor;

        .arrow_btn {
            height: 14px;
            width: 14px;
            margin-top: 2px;
        }
    
        .common_btn {
            background-color: transparent;
            border: none;
            margin-right: 5px;
        }
    }
}