@import '../../styles/variables/variables';
@import '../../styles/mixins/mixins';

.history {
    padding-bottom: 50px;
    min-height: 500px;
    .history_text {
        font-size: 40px;
        font-weight: 500;
        margin-left: 40px;
    }

    .history_block {
        padding: 20px 30px;

        .list {
            max-height: 500px;
            overflow-y: auto;
            border: 1px solid $borderColor;
            border-radius: 7px;
        }
    }

    .empty_block {
        padding: 20px 30px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        .text {
            font-size: 24px;
            text-align: center;
        }
        .image_block {
            display: flex;
            justify-content: center;
            .image {
                margin-top: 20px;
                height: 100px;
            }

        }
        .btn_block {
            display: flex;
            justify-content: center;
            margin-top: 25px;
            .btn {
                @include standart-btn
            }
        }

    }
}


@media (max-width: 600px) {
    .history {
        .history_block {
            padding: 20px 10px;
        }
        .history_text {
            margin-left: 10px;
            font-size: 24px;
         }
     }

}
