@import '../../styles/mixins/mixins';


.button {
    @include standart-btn;
    transition: 0.3s;

    &::before {
        padding-right: 10px;
        content: '←';
    }

    &:active {
        background-color: rgba(0, 0, 0, 0.616);
    }

    &:hover {
        background-color: rgba(0, 0, 0, 0.836);
    }
}