@import '../../../../../styles/variables/variables';

.header {
    padding: 30px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .list {
        list-style-type: none;
        display: flex;
        align-items: center;
        li {
            margin-right: 30px;
            cursor: pointer;
        }
        li:last-of-type {
            margin-right: 0;
        }
    }
}

@media (max-width: 600px) {
    .header {
        padding: 20px 15px;
        justify-content: center;
        .list {
            li {
                margin-right: 15px;
                font-size: 11px;
            }

            .img {
                margin-top: 5px;
                width: 100px;
            }
        }
    }
}