@import '../../../../styles/variables/variables';

.left_block {
    padding: 70px 30px;
    flex: 0.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 1px solid $borderColor;
}

@media (max-width: 600px) {
    .left_block {
        padding: 70px 30px 30px;
    }
}
