@import "../../styles/variables/variables";

.header  {
    display: flex;
    justify-content: center;
    height: 80px;
    position: relative;

    .container {
        padding: 20px 30px;
        max-width: $container;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            width: 42px;
            height: 32px;
            cursor: pointer;
        }

        .sony_block {
            position: absolute;
            padding: 8px 25px;
            background-color: black;
            top: 0;
            left: calc(50% - 60px);
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
        }
        .outer_profile_bloсk {
            position: relative;
        }
        .profile_block {
            display: flex;
            align-items: center;
            cursor: pointer;
        }

        .profile_block_image {
            width: 24px;
            height: 24px;
            object-fit: cover;
            border-radius: 100%;
            margin-right: 10px;
        }

        .underline {
            border-bottom: 0.5px solid white;
        }
        

        .text {
            color: white;
            cursor: pointer;
        }
        .text_menu {
            color: black;
        }
    }

}

@media (max-width: 500px) {
    .header {
        .container {
            padding: 20px 10px;

            .sony_block {
                padding: 5px 15px;
                left: calc(50% - 50px);

                img {
                    width: 65px;
                }
            }
        }
    }
}