@import '../../../../../styles/mixins/mixins';


.button {
    @include standart-btn;
    transition: 0.3s;
    background-color: white;
    color: black;

    &:active {
        background-color: rgba(255, 255, 255, 0.466);
    }

    &:hover {
        background-color: rgba(250, 249, 249, 0.678);
    }
}