@import '../../../../../styles/mixins/mixins';
@import '../../../../../styles/variables/variables';

.block {
    width: 100%;
    
    .block_image_btn {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    
        .profile {
            width: 150px;
            height: 150px;
            cursor: pointer;
            object-fit: cover;
            border-radius: 100%;
        }
        
        .button {
            @include standart-btn;
            padding: 8px 40px;
            margin-top: 15px;
        }

        .biography_block {
            margin-top: 30px;
            width: 100%;
            .biography {
                font-size: 20px;
                font-weight: 500;
            }
        }
    }
}

