@import '../../styles/variables/variables';

.section {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;

    .container {
        max-width: $container;
        background-color: white;
        border-radius: 18px;
        width: 100%;
        color: black;
        padding: 30px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .image {
            width: 150px;
            height: 150px;
            margin-bottom: 30px;
        }
        .error {
            font-size: 40px;
            font-weight: 600;
        }
        .text {
            font-size: 25px;
            font-weight: 500;
            padding: 0 0 30px;
        }
    }
}