@import '../../../styles/variables/variables';

.section {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;

    .container {
        max-width: $container;
        background-color: white;
        border-radius: 18px;
        width: 100%;
        color: black;
        display: flex;
        flex-direction: row;

        .block {
            height: 200px;
        }
    }
}

@media (max-width: 600px) {
    .container {
        flex-direction:column !important;
    }
}