.block {
    display: flex;
    padding: 50px 30px;

    .left_section {
        max-width: 300px;
        width: 100%;
        margin-right: 50px;

        .left_section_title {
            font-size: 30px;
            font-weight: 500;
            width: 100%;
        }
    }


    .rigth_section {
        max-width: 600px;
        width: 100%;

        .rigth_text_block {
            margin-bottom: 15px;

            .rigth_block_title {
                margin-top: 10px;
                font-size: 16px;
                font-weight: 500;
            }  

        }
        .rigth_block_text {
            margin-top: 10px;
            font-size: 13px;
            font-weight: 300;
        }

        .rigth_text_bottom {
            margin-top: 40px;
            color: rgba(59, 59, 59, 0.363);
        }
    }
}

@media (max-width:850px) {
    .block {
        padding: 30px 10px;

        .left_section {
            margin-right: 20px;

            .left_section_title {
                font-size: 20px;
            }
        }

        .rigth_section {
            .rigth_text_block  {
                font-size: 11px;
                .rigth_block_text  {
                    font-size: 11px;
                }
                .rigth_block_title {
                    font-size: 13px;
                }
            }

            .rigth_block_text {
                font-size: 11px;
            }

            .rigth_text_bottom {
                font-size: 11px;
            }
        }
    }
}

@media (max-width:600px) {
    .block {
        flex-direction: column;
    }
}